.movie-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    border: 1px solid $main-colour;
    border-bottom-width: 0;
    padding: 18px 80px 18px 18px;
    position: relative;

    &:last-child {
      border-bottom-width: 1px;
    }

    &:hover {
      background-color: lighten($main-colour, 40%);
    }

    h3 {
      margin-top: 0;
    }

    .votes {
      font-size: 50px;
      line-height: 50px;
      display: block;
      position: absolute;
      top: 18px;
      right: 20px;

      @media screen and (min-width: 960px) {
        top: 25px;
      }
    }
  }
}
